<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}
<link rel="shortcut icon" type="image/png" href="/favicon.svg">
{%- include background.html -%}
<script type="text/javascript" src="/js/lightbox.js"></script>
<link rel="stylesheet" href="/css/lightbox.css">

<body style="z-index:3" class="content-container">
  {%- include header.html -%}

  <main style="z-index: 4" class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}
</body>

</html>