---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

	<header class="post-header">
		<h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
		<p class="post-meta">
			<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
				{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
				{{ page.date | date: date_format }}
			</time>
		<p>
			{{ page.description }}
		</p>
		</p>
	</header>

	<div class="post-content e-content" itemprop="articleBody">
		{{ content }}
	</div>


	{% assign posts = site.posts | where_exp:"post","post.project == page.projid" %}

	{%- if posts.size > 0 -%}
	<h1>This project's blog posts:</h1>
	<ul class="project-postlist">
		{%- for post in posts -%}
		<li class="project-linklistlink">
			<a href="{{post.url}}">{{post.title}}</a>
		</li>
		{%- endfor -%}
	</ul>
	{%- endif -%}

	<a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>